.logo{
    /* width: 200px;
    height: 100%;
    margin-left: 30px; */
    width: 145px;
    margin-left: 30px;
}
.logo:hover{
    cursor: pointer;
}
.hi{
    font-size: 20px;
    font-weight: 600;
    color: rgb(56, 55, 55);
    }
#dropdownMenuButton1{
    background-color: #009cf7 !important;
    border: none !important;
}
li:hover{
    cursor: pointer;

}
.exclamation{
    color: ghostwhite
}