<div class="d-flex justify-content-center mt bgcolor">
    <div style="width:35%" class="content_div">
        <!-- <img class="logo" src="" alt="logo" /> -->

        <h4 class="text-center">Create New Password</h4>
        <form class="mt-2" [formGroup]="adminCreatePasswordForm">
            <div class="form-group">
                <div>
                    <div class="mb-2">
                        <p class="mb-0">An OTP has been sent to {{mobileNo}}</p>
                        <a class="bluecolor" (click)="changemobile()">Change mobileNo</a>
                    </div>
                    <div class="mb-4">
                        <label for="otp">Enter OTP</label>
                        <input type="text" formControlName="otp" class="form-control" id="otp" maxlength="6"
                            placeholder="000 000" (keypress)="numberOnlyOtp($event)" pattern="[0-9]*"
                            autocomplete="cc-name" />
                        <div class="mt-1">
                            <span *ngIf="hideTime">Resend OTP in : {{timeLeft}} s</span>
                            <span *ngIf="hideResend">
                                Didn't Receive OTP ? <a class="bluecolor" (click)="resendOTP()">Resend</a>
                            </span>

                            <!-- <span class="receive " *ngIf="hideResend" id="dotp">Didn't receive OTP ?
                            </span><span id="rsotp">

                                <div class="w-70" *ngIf="hideTime">Resend code in : {{timeLeft}} s
                                </div>

                                <a class="resend" *ngIf="hideResend" (click)="resendOTP()">Resend</a>
                            </span> -->
                        </div>
                        <div class="invalidotp mt-2" *ngIf="otpvalidation">{{errormessege}}</div>
                    </div>
                </div>


                <label>New Password</label>
                <div style="position: relative;">
                    <input [type]="hide ? 'password' : 'text'" class="form-control " type="password" required
                        placeholder="Enter your password" formControlName="password" />
                    <mat-icon class="visibility-icon eyeicon" id="v-icon" (click)="passwordhide()"
                        *ngIf="f['password'].dirty">
                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
                <div class="error-message"
                    *ngIf="f['password'].errors && (f['password'].dirty || f['password'].touched) "
                    id="fnmae-error">
                    <div *ngIf="f['password'].errors['required']">
                        Password is required
                    </div>
                    <div *ngIf="f['password'].errors['pattern']">
                        Password must be atleast 8 characters, maximum of 15 characters and should have 1 Uppercase,
                        1Lowercase, 1 number and 1 special character(!,@,$,%,^,&,-)
                    </div>
                </div>
                
            </div>

            <div class="form-group mt-3">
                <label>Confirm New Password</label>
                <div style="position: relative;">
                    <input [type]="confirm_hide ? 'password' : 'text'" class="form-control " type="password"
                        placeholder="Enter your password again" formControlName="confirmPassword" />
                    <mat-icon class="visibility-icon eyeicon" id="v-icon" (click)="confirmhide()"
                        *ngIf="f['confirmPassword'].dirty">
                        {{confirm_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
                <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors" class="text-danger">
                    <div *ngIf="f['confirmPassword'].errors['required']">
                        Confirm Password is required
                    </div>
                    <div *ngIf="f['confirmPassword'].errors['matching']">
                        Confirm Password does not match
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <button class="btn btn-primary w-100" (click)="submit()"
                    [disabled]="adminCreatePasswordForm.invalid">Submit</button>
                <div class="goback mt-2 d-flex justify-content-center  ">Go back to&nbsp;<a
                        (click)="backtologin()">Login</a></div>
            </div>
        </form>
    </div>
</div>